p{
    font-family: fallback, Consolas;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
}



/*Like Wikipedia!*/
.info-tag{
    text-decoration: dotted underline;
    
}
.info-tag:hover{

    cursor: help;
}

