

p, a{

   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Consolas', Arial, sans-serif;
    line-height: 1.5em;
}

h1, h2, h3{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'Consolas', sans-serif;
}
footer{
    position: sticky;
    margin-top: 100px;
    
}

hr{
    color: gray;
    background-color: gray;
    border-color: gray;
}

button{

    font: bold;
    font-family: Verdana;
    border-radius: 7px;
    border-width: 1px;

}

#certdiv{

    display: grid;
    text-align: center;
    
}


/*Like Wikipedia!*/
.info-tag{
    text-decoration: dotted underline;
    
}
.info-tag:hover{

    cursor: help;
}

